<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SF Application Test Automation Test Suite">

	<listeners>
		<listener class-name="com.sf.qa.ExtentReportListener.ExtentReporterNG" />
	</listeners>

	<test name="SF Application Test Cases">
		<classes>
			<class name="com.sf.qa.tests.LoginPageTest" />
			<class name="com.sf.qa.tests.HomePageTest" />
			<class name="com.sf.qa.tests.LeadsPageTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->